<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PostSuite">
  <test thread-count="5" name="PostTest">
    <classes>
      <class name="jsonPlaceHolderPKG.Get_JSONPlaceHolder"/>
      <class name="jsonPlaceHolderPKG.POST_JSONPlaceHolder"/>
      <class name="jsonPlaceHolderPKG.UserScenarios"/>
    </classes>
  </test> <!-- PostTest -->
</suite> <!-- PostSuite -->
